<div class="text-center">
    <div style="width:100%; max-width:330px; padding: 15px; margin:auto">
        <img class="mb-4" src="/images/profile-pic.png" alt="" width="72" height="72" />
        <h1 class="h3 mb-3 font-weight-normal text-danger">Access Denied</h1>
        <a class="btn btn-lg btn-outline-success btn-block" asp-action="Index" asp-controller="Home">Return to Home Page</a>
    </div>
</div>