<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="We connect house helps with people that need their services" />
    <meta name="keywords" content="house-help,house-girl,house-boy" />
    <title>HouseHelp Finder</title>

    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/CustomStyle.css" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">HouseHelp Finder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toogle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                @if (User?.IsInRole("Administrators") ?? false)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrative</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" asp-action="Index" asp-controller="Admin">Dashboard</a>
                            <a class="dropdown-item" asp-action="Create" asp-controller="Admin">Create Admin Account</a>
                            <a class="dropdown-item" asp-action="ListAdmins" asp-controller="Admin">List Admins</a>
                            <a class="dropdown-item" asp-action="ListHouseHelps" asp-controller="Admin">List HouseHelps</a>
                        </div>
                    </li>
                }
            </ul>

            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <div class="my-2 my-lg-0">
                    @await Component.InvokeAsync("LoginSummary")
                </div>
            }
            else
            {
                <div class="form-inline mt-2 mt-md-0">
                    <a asp-action="Create" asp-controller="HouseHelp" class="btn btn-outline-success my-2 my-sm-0">Sign up</a>
                    <a asp-action="Login" asp-controller="Account" class="btn btn-outline-success my-2 my-sm-0" style="margin-left:10px">Sign in</a>
                </div>
            }
        </div>
    </nav>

    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }

    @RenderBody()

    <script src="/lib/jquery/jquery.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="/lib/jquery/jquery.slim.min.js"><\/script')</script>
    <script src="/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
