<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="We connect house helps with people that need their services" />
    <meta name="keywords" content="house-help,house-girl,house-boy" />
    <title>HouseHelp Finder</title>

    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/CustomStyle.css" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" asp-action="Index">HouseHelp Finder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toogle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <div class="form-inline mt-2 mt-md-0">
                <a asp-action="Create" asp-controller="HouseHelp" class="btn btn-outline-success my-2 my-sm-0">Sign up</a>
                <a asp-action="Login" asp-controller="Account" class="btn btn-outline-success my-2 my-sm-0" style="padding-left:10px">Sign in</a>
            </div>
        </div>
    </nav>

    @RenderBody()

    <script src="/lib/jquery/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/lib/jquery/jquery.slim.min.js"><\/script')</script>
    <script src="/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
