<div class="d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <div role="main" class="inner cover">
        <h1 class="cover-heading">Welcome to HouseHelp Finder</h1>
        <p class="lead">Hello there!<br /> We at HouseHelp finder ensure you get the house help services you need by connecting you up with our diverse list of available personnel</p>
        <p>
            <a asp-action="List" class="btn btn-outline-success my-2 my-sm-0">See The Whole List</a>
        </p>

        <p class="lead">Are you also hoping to get the right connection to your next paycheck, look no further and register with use now</p>
        <p>
            <a asp-controller="HouseHelp" asp-action="Create" class="btn btn-outline-success my-2 my-sm-0">Sign up</a>
        </p>
    </div>
</div>